@CHARSET "UTF-8";
@font-face {
	font-family: 'bmjua';
	src:url('../font/bmjua.ttf');
}
body {
	font-family: 'bmjua';
	background-color: #F0F0F0;
	spellcheck:false;
}
#logo {
	font-size: 50px;
	margin-top: 40px;
	margin-bottom: 60px;
}
#join {
	text-align: center;
}
#join_input {
	text-align: left;
	display: inline-block;
	margin-bottom: 30px;
}

input {
	width: 300px;
	height: 40px;
	font-size: 18px;
	margin-bottom: 10px;
	font-family: 'bmjua';
	color: black;
}
::placeholder {
	font-family: 'bmjua';
}
#pw::placeholder {
	position: relative;
	padding-bottom: 10px;
}
input[type=password] {
	font-family:'Malgun gothic', dotum, sans-serif;
	}
#join_submit {
	width: 305px;
	height: 40px;
	font-size: 18px;
}
#address_find {
	cursor: pointer;
	font-size: 15px;
	margin-left: 230px;
	
}
#copyright {
	font-size: 13px;
}
#footer {
	margin-top: 20px;
}
.error {
	display: inline-block;
	position: relative;
	color: red;
	font-size: 13px;
	height: 5px;
	top: -10px;
}