@CHARSET "UTF-8";

body {
	margin-top: -10px;
	
}


#image {
	border: 5px solid #59AB6E;
	width: 150px;
	height: 150px;
}


.address {
	width: 300px;
}
/* <!-- ------------------------test---------------------------- --> */
.container {
	position: relative;
	left:30px;
	width: 650px;
}

.tab_title li {
  position: relative;
  list-style: none;
  right: 40px;
  float: left;
  padding: 10px 10px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  border: 1px solid #59AB6E;
}

.tab_title{
	display: table;
  margin-left: auto;
  margin-right: auto;
}

.tab_title li.on {
  background-color: #59AB6E;
  font-weight: bold;
}

.tab_cont {
  clear: both;
  height: 400px;
  width: 608px;

}

.tab_cont div {
  display: none;
  text-align: center;
}

.tab_cont div.on {
  display: block;
}

.password{
	width: 300px;
	display: table;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.bank{
	width: 300px;
	display: table;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
/* <!-- ------------------------test---------------------------- --> */