<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WebTeamProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <!-- BoardFrontController 매핑 -->
  
  <servlet>
  	<servlet-name>BoardFrontController</servlet-name>
  	<servlet-class>com.board.action.BoardFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>BoardFrontController</servlet-name>
  	<url-pattern>*.bo</url-pattern>
  </servlet-mapping>
  
  <!-- BoardFrontController 매핑 -->
  
  <!-- BoardCommentFrontController 매핑 -->
  
  <servlet>
  	<servlet-name>BoardCommentFrontController</servlet-name>
  	<servlet-class>com.board.comment.action.BoardCommentFrontController</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>BoardCommentFrontController</servlet-name>
  	<url-pattern>*.bco</url-pattern>
  </servlet-mapping>
  
  <!-- BoardCommentFrontController 매핑 -->
</web-app>